<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body>
  <div class="container" ng-controller="courseCtrl">
    <div class="row">
      <div class="text-center fs-2 fw-bold  mt-5 mb-5">Tất cả khóa học</div>
      <aside class="col-sm-12 col-md-3 float-end ">
        <div class="card" id="accordion">
          <div class="card">
            <div class="card-header collapsed text-center fw-bold fs-5" data-bs-toggle="collapse"
              data-bs-target="#ChungLoaiCollapse" data-bs-parent="#accordion" aria-expanded="false">
              Các khóa học
            </div>
            <ul class="list-group collapse " id="ChungLoaiCollapse" data-bs-parent="#accordion"
              ng-repeat="course in courses">
              <li class="list-group-item" ng-click="search(course.Id,$index)"><a href="#"
                  class="nav-link">{{course.Name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <article class="col-sm-12 col-md-9 float-start">

        <div class="row">
          <div class="col-md-6 p-2" ng-repeat="course in courses | limitTo :4 : begin | filter :searchString">
            <div class="card">
              <div class="card-body ">
                <img src="../Utilities/images/logos/{{course.Logo}}" alt="Ảnh môn học" class="col-4">
                <div class="col-7 float-end">
                  <h5 class="card-title">{{course.Name}}</h5>
                  <br>
                  <br>
                  <!-- <button type="button" class="btn btn-primary ">Kiểm tra ngay</a></button> -->
                  <a href="#!quiz/{{course.Id}}/{{course.Name}}" class="btn btn-primary" ng-click="getMonHoc(course.Id)">Kiểm tra ngay</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-5">
          <nav aria-label="Page navigation ">
            <ul class="pagination">
              <li class="page-item" ng-click="page(0)">
                <span class="page-link fw-bold" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </span>
              </li>
              <li class="page-item" ng-click="page(0)" aria-current="page"><a class="page-link">1</a></li>
              <li class="page-item" ng-click="page(1)"><span class="page-link">2</span></li>
              <li class="page-item" ng-click="page(2)"><span class="page-link">3</span></li>
              <li class="page-item" ng-click="page(3)"><span class="page-link">4</span></li>
              <li class="page-item" ng-click="page(4)"><span class="page-link">5</span></li>
              <li class="page-item" ng-click="page(4)">
                <span class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </span>
              </li>
            </ul>
          </nav>
        </div>
      </article>
    </div>
  </div>
  <!-- <script>
    // var app = angular.module("myApp", ["ngRoute"]);
    // app.controller("courseCtrl", function ($scope, $http) {
    //   $scope.courses = [];
    //   $http.get("../Utilities/db/Subjects.js").then(function (respone) {
    //     $scope.courses = respone.data;
    //     console.log($scope.courses);
    //   });
    //   $scope.begin = 0;
    //   $scope.searchString = "";
    //   $scope.page = function (index) {
    //     $scope.searchString = "";
    //     $scope.begin = 4 * index;
    //   };
    //   $scope.search = function (id, index) {
    //     $scope.searchString = id;
    //     $scope.begin = index;
    //   };
    // });
  </script> -->
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>