<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="/Asignment/Utilities/js/app.js"></script>
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <!-- Modal trigger button -->
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId" ng-show="!isLogin">
            Đăng nhập
        </button>

        <!-- Modal Body -->
        <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
        <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <div class="titlePopup text-center">
                            <img src="/Asignment/Utilities/images/account.png" class="img-fluid rounded-top " alt=""
                                width="150px" height="150px">
                            <h5 class="modal-title" id="modalTitleId">Chào mừng bạn đến với Poly Quiz</h5>
                        </div>
                        <form action="" class="col-8 mx-auto">
                            <div class="mb-3" ng-show="isLogin">
                                <input type="text" class="form-control" ng-model="student.fullname" ariaa-describedby="helpId"
                                    placeholder="Họ và tên">
                            </div>
                            <div class="mb-3" ng-show="isLogin">
                                <input type="email" class="form-control" ng-model="student.email" aria-describedby="helpId"
                                    placeholder="Email">
                            </div>
                            
                            <div class="mb-3" ng-show="isLogin">
                                <label for="" class="form-label">Giới tính: </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" ng-model="student.gender" type="radio" name="gender"
                                        value="{3:option1}">
                                    <label class="form-check-label" for="">Nam</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" ng-model="student.gender" type="radio" name="gender" value="option2">
                                    <label class="form-check-label" for="">Nữ</label>
                                </div>
                            </div>
                            <div class="mb-3" ng-show="isLogin">
                                <input type="date" ng-model="student.birthday" class="form-control"  aria-describedby="helpId"
                                    placeholder="Ngày sinh">
                            </div>

                            <div class="mb-3" ng-show="!isLogin">
                                <input type="text" class="form-control" ng-model="student.username" aria-describedby="helpId"
                                    placeholder="Tài khoản">
                            </div>
                            <div class="mb-3" ng-show="!isLogin">
                                <input type="password" class="form-control" ng-model="student.password" aria-describedby="helpId"
                                    placeholder="Mật khẩu">
                            </div>
                            <div class="mb-3" ng-show="!isLogin">
                                <button type="button" class="btn btn-primary col-8 w-100" ng-click="login()">Đăng nhập</button>
                            </div>
                            <div class="mb-3" ng-show="isLogin">
                                <button type="button" class="btn btn-primary col-8 w-100">Đăng kí</button>
                            </div>
                            <!-- Quên mật khẩu -->
                            <div class="mb-3" ng-show="isLogin">
                                <button type="button" class="btn btn-primary col-8 w-100">Xác nhận</button>
                            </div>
                            <div class="mb-3" ng-show="isLogin">
                                <button type="button" class="btn btn-primary col-8 w-100">Quên mật khẩu</button>
                            </div>
                            <div class="mb-3" ng-show="isLogin">
                                <button type="button" class="btn btn-primary col-8 w-100">Đổi mật khẩu</button>
                            </div>
                            
                        </form>

                    </div>
                    <div class="modal-footer mx-auto" ng-show="!isLogin">
                        <div>
                            Bạn chưa có tài khoản <buton class="btn btn-primary">Đăng kí</buton> ngay
                        </div>
                        <div>
                            <buton class="btn btn-primary">Quên mật khẩu</buton>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>


        <!-- Optional: Place to the bottom of scripts -->
        <script>
            const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

            document.addEventListener("hidden.bs.modal", function () {
                document.body.classList.remove("modal-open");
            });
        </script>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>